.img-boxo {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit-card-logoo {
    max-width: 100%;
    height: auto;
    align-items: center;
}

.container.card.img-box-savedo {
    max-width: 100%;
    height: auto;
}

.credit-card {
    max-width: 100%;
    height: auto;
}

/* Additional CSS for smaller screens */
@media (max-width: 767px) {
    .img-boxo {
        height: 100px; /* Adjust this value as needed */
        overflow: hidden;
    }
}
